// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem;

  code {
    overflow-y: auto;
    display: block;

    span {
      background: none transparent !important;
    }
  }
}

.json > pre {
  background: none #fff !important;

}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  th {
    outline: none;

    &.sortable {
      .svg-icon-sort {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }
  }

  .table.table-head-custom thead tr {
    .sortable-active {
      color: $primary !important;
    }
  }
}

.cursor-default {
  cursor: default !important;
}

.dialog-modal-override {
  max-width: 100% !important;
  padding: 20px;
}

.bg-overlay {
  background: linear-gradient(rgba(250, 130, 106, 0.7), rgba(250, 130, 106, 0.7)), url("/public/images/loginImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.react-datepicker-wrapper{
  display: block!important;
}

.modal-open{
  margin: 0px!important;
}

.s-card{
  background: #FFFFFF;
  border-radius: 12px;
  border-left: 0px solid ;
  border-right: 10.71px solid;
  padding:3rem 2rem;
}

.s-card-info{
  border-color: $info;
  & h3{
    color: $info;
  }
}

.s-card-success{
  border-color: $success;
  & h3{
    color:  $success;
  }

}

.s-card-danger{
  border-color: $danger;
  & h3{
    color: $danger;
  }
}

.s-card-primary{
  border-color: #3699FF;
  & h3{
    color: #3699FF;
  }
}

.s-card-group{
  //display: grid;
  //grid-template-rows: 1fr 1fr;
  //grid-template-columns: 1fr 1fr;
  //grid-gap: 2rem;

}

.btn-light-blue{
cursor: pointer;
color: #3699FF;
background-color: #deedff;
}

.text-blue{
  color: #3699FF;
}

@media (max-width: 991.98px) {
  .header-mobile-fixed .header-mobile img{
    width: 30px;
  }
}

.table:not(.table-bordered) thead td, .table:not(.table-bordered) thead th{
  white-space: nowrap;
}
